*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.idb
*.iobj
*.ipdb
*.cache
*.VC.db
*.psess
*.vsp
*.vspx
*.sap
*.opt
*.exe
*.tlog
*.exp
*.idb
.DS_Store
libs
obj
bin
*.log
gen
.settings
*.swp
*.~
*.apk
/analyse/data/
*.etl
proj.win32/Debug*
proj.win32/Release*
data-ram/
.vscode
__pycache__
Debug/
Release/